@import 'navbar';

$navColor:#606663;
$background:rgb(231, 222, 216);
$background-jumbotron-title:rgb(231, 222, 216);
$titlecolor:#BC6C6C;
$bluelink:#96ADC1;
//init
body{
    margin:0;
    padding:0;
    background-color: $background;

}
//init row
.row{
    margin:0;
    padding:0;
}

//navbar

.logo{
    object-fit: contain;
    max-height: 20px;
}

.navbar-nav{
    margin:auto;

}

//jumbotron

.jumbotron{

    &.jumbo-Accueil{
        background-image: url('../images/jumboburger_edited.jpg');
        height:250px
    }
    text-align:center;
    margin:0;
    color:$titlecolor;
}

//news cards
.card{
    max-width:300px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    box-shadow: 5px 5px 4px grey;
}

//presentation
.picture{
    object-fit: contain;
    max-width:100%;
}

.image{
    padding:15px;
}

.debug{
    border:red 1px solid;
}
