@import 'navbar';

$navColor:#606663;
$background:rgb(231, 222, 216);
$background-jumbotron-title:rgb(231, 222, 216);
$titlecolor:#BC6C6C;
$bluelink:#96ADC1;
//init
body{
    margin:0;
    padding:0;
    background-color: $background;

}
//init row
.row{
    margin:0;
    padding:0;
}

//navbar

.logo{
    object-fit: contain;
    max-height: 20px;
}

.navbar-nav{
    margin:auto;

}

//jumbotron

.jumbotron{
    &.jumbo-Accueil{
        background-image: url('../images/jumboburger_edited.jpg');
        height:250px
    }
    text-align:center;
    margin:0;
    color:$titlecolor;
}

//news cards
.card{
    max-width:300px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 5px 5px 4px grey;
}
.card:hover{
    transform: translate(2px, 2px);
    box-shadow:4px 4px 2px grey;
}
.news a{
    color:black;

}

//presentation

.presentation{
    display:flex;
    margin-bottom:50px;
    .presentationCard{
        max-width:1140px;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        background-color:white;
        border-radius:5px;
        box-shadow: 5px 5px 4px grey;
        .picture, .text{
            margin:auto;
            width:50%;
            height:50%;
            padding:15px;
        }
        .text{
            display:flex;
            flex-direction: column;
            margin:auto;
            .presentationTitle, .presentationText{
                margin:auto;
                text-align:center;
            }
        }
    }
}
@media (max-width:576px){
    .presentation{
        width:80%;
        margin:auto;
        margin-bottom:50px;
    }
    .presentationCard{
        flex-direction: column;
    }
    .picture{
        width:80%;
        height:80%;
    }
    .text{
        width:auto;
    }
}

//footer



.debug{
    border:red 1px solid;
}
.link{
    text-align:center;
}
.footer-copyright{
    background-color:black;
    color:white;
}
.icons{
    background-color:grey;
}

//adresse resto
.mapCard{
    background-color: white;
    margin:25px;
    padding:15px;
    border-radius:5px;
    box-shadow: 5px 5px 4px grey;
    display:flex;
    max-height:500px;
    .text{
        margin:auto;
        padding:15px;
    }
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height:450px;
    }
}

//photo
.photoCard{
    margin:auto;

    img{
    width:100%;
    padding:15px;
    background-color: white;
    margin-top:50px;
    box-shadow: 5px 5px 4px grey;
    border-radius:5px;
    }
}

.pageSwitch{
    margin:50px;
}

.pagination{
    margin:auto;
}