$navColor:#606663;
$background:#D9D1CC;
$titlecolor:#BC6C6C;
$bluelink:#96ADC1;

body{
    background-color: $background;
}

nav{
    background-color: $navColor;
    .navlist{
        justify-content: space-around;
        color:white;
        margin:15px;
    }
    .logo{
        object-fit: contain;
        max-height: 30px;
    }
}






/*.jumbotron{
    background-image: url('../images/jumboburger.jpg');
    background-size: cover;
    height:300px;
    text-align:center;
}

h1{
    margin-bottom:50px;
}

h1,h2,h3,h4,h5,h6{
        color:$titlecolor;
    }

.debug{
    border: red 1px solid;
}*/

