body {
  background-color: #D9D1CC; }

nav {
  background-color: #606663; }
  nav .navlist {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: white;
    margin: 15px; }
  nav .logo {
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 30px; }

/*.jumbotron{
    background-image: url('../images/jumboburger.jpg');
    background-size: cover;
    height:300px;
    text-align:center;
}

h1{
    margin-bottom:50px;
}

h1,h2,h3,h4,h5,h6{
        color:$titlecolor;
    }

.debug{
    border: red 1px solid;
}*/
